<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TermProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FA15_3342_tuc52228ConnectionString" connectionString="Data Source=127.0.0.1,5555;Initial Catalog=FA15_3342_tuc52228;Persist Security Info=True;User ID=tuc52228;Password=aiXo6rac"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <applicationSettings>
        <TermProject.Properties.Settings>
            <setting name="TermProject_TPServiceRef_TheWebService" serializeAs="String">
                <value>http://cis-iis2.temple.edu/Fall2015/CIS3342_tue69402/Project3WS/TheWebService.asmx</value>
            </setting>
        </TermProject.Properties.Settings>
    </applicationSettings>
</configuration>
