body 
{
    width: 712px;
    height: 486px;
    margin-right: 18px;
    margin-top: 14px;
    margin-left: 4px;
   background-color:#2b3e50;
}


* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.floating-box 
{
    float: left;
    width: 501px;
    height: 31px;
    margin: 5px;
}

.content 
{
    background-color:#c2e9e9;
    height: 323px;
    width: 1064px;
    display:inline-block;
    /*//background-color: #ffffff;*/
   color: #2b3e50;
    
}



h1 
{
    text-align:center;
    width: 833px;
    height: 45px;
    top: 50px;
}

.box {
    position:relative;
    float: right;
    height: 43px;
    margin: 2px;  
    width: 322px;
}

.button 
{

}

a:link, a:visited 
{
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 32px;
}

a:hover, a:active {
    background-color: #7A991A;
}

ul 
{ 
   display:inline-block;
    width: 613px;
    height: 50px;
}


.section 
{
    margin-left: 16.66%;
    margin-right: 16.66%;
    border-color:white;
    border-width:4px;
    width: 753px;
    height: 318px;
    margin-bottom: 20px;
}

.h2 
{
    font-size:larger;
    font: bolder; 

}

.sectionBtn 
{
    width: 16%;
    margin-left:8px;
    margin-right:14px;
    float:right;
}

.sectionLabel 
{
     width: 83%;
     float:left;
     height:26px;
}

.sectionSetting 
{
    width:100%;
}

.repeater 
{
    border: solid; 
    border-color: #98bf21;
}

