
body
{
  background-color:#2B3E50;
  color:  #EBEBEB;
}

* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83%;
}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.contentHolder 
{
     height: 892px;
    top: 160px;
     margin-bottom: 0px;
      background-color: #4e5d6c;
      width: 90%;
      margin-right: 5%;
      margin-left: 5%;
      
}

nav
{
    width:1135px;
    height: 31px;
    margin-top: 17px;
    margin-left: 5px;
    margin-right: 52px;
}

    nav ul 
    {
        width:1131px;
    margin-right: 8px;
    margin-left: 26px;
    height: 26px;
    margin-top: 0px;
    margin-bottom: 7px;
}

    nav ul a {
        list-style-type: none;
        display: inline-block;
        border-radius: 4px;
        width:24%;
        margin-left: 5px;

    }
    nav a.current {
	color: yellow;
}



a:link, a:visited 
{
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 8px;
    margin-bottom: 0px;
}

#menu 
{
    width: 550px;
    height: 35px;
    font-size: 16px;
    text-align:right;
}

.banner 
{ float: right;
}

.banner ul 
{
    float: right;
    height: 25px;
    display:block;
}


.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}



/*.contentHolderco 
{
    float:right;
    height: 710px;
    width:1057px;
    top: 160px;
    margin-bottom: 0px;
    margin-right: 0px;
      background-color: #4e5d6c;
    margin-left: 23px;
}*/