body {
}

.contentHolder 
{
    float:right;
    height: 366px;
    width:1081px;
    top: 160px;
    margin-bottom: 0px;
    margin-right: 72px;
}

nav
{
    width:auto;
    height: 31px;
    margin-top: 17px;
}

    nav ul 
    {
        width:1154px;
    margin-right: 3px;
    margin-left: 53px;
}

    nav ul a {
        list-style-type: none;
        display: inline-block;
        border-radius: 4px;
        width:24%;
        height: 23px;
        margin-left: 5px;

    }
    nav a.current {
	color: yellow;
}



a:link, a:visited 
{
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 4px;
}

#menu 
{
    width: 550px;
    height: 35px;
    font-size: 16px;
    text-align:right;
}

.banner ul 
{
    float: right;
    height: 25px;
    width: 347px;
    padding:4px 0px;
    margin:0px 0px 23px 11px;
    display:inline-block;
}

    .banner ul a 
    {
        width:106px;

    }

.banner h1 
{
    width: 63%;
}

.welcome
{
    float:right;
    margin-right: 1px;
    text-align:right;
    

}

