body {
}

#imgProduct 
{
    margin-top: 24px;
    margin-bottom: 17px;
}
.imgbox {
    float:right;
    width:45%;
    top:0px;
    height: 399px;
    margin-top: 0px;
}

#ddlProducts 
{
    width: 15em;
    margin-top: 1em;
}

#productData 
{
    float: left;
    margin-right: 0px;
    margin-left: 11px;
    margin-top: 12px;
    height: 400px;
    width: 523px;
}

.lblprodDesc, .lblUnitPrice 
{
    display: block;
    margin-bottom: 0px;
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 4px;
    width:276px;
    float:right;
}

.lblName 
{
     display: block;
    margin-bottom: 0.2em;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    float:left;

}



.floating-box 
{
    float: left;
    width: 440px;
    height: 39px;
    margin: 18px 3px 9px 5px;
}
.floating-boxx 
{
    float: left;
    width: 462px;
    height: 32px;
    margin: 0px 3px 5px 5px;
}



.linkbutton 
{
    background-color:#2B3E50;
}