body {
}

#imgProduct 
{
    float: left;
    padding: 1em 2em;
    margin-left: 45px;
    margin-right: 62px;
    margin-top: 47px;
    margin-bottom: 17px;
}

#ddlProducts 
{
    width: 15em;
    margin-top: 1em;
}

#productData 
{
    padding: 1em 0;
    width: 446px;
    float: left;
    height: 307px;
    margin-right: 0px;
    margin-left: 14px;
}

.lblprodDesc, .lblUnitPrice 
{
    display: block;
    margin-bottom: 0.8em;
    margin-top: 8px;
    margin-left: 13px;
    margin-right: 4px;
    float:right;
}

.lblName 
{
     display: block;
    margin-bottom: 1em;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 0px;
    float:left;

}

#btnAdd {
    margin-right: 1em;
    margin-top: 53px;
}

* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

