body
 {
       background-color:#2b3e50;
       height:867px;
}
h1 
{
    text-align:center;
    width: 671px;
    height: 45px;
    top: 50px;
    margin-left: 20px;
    margin-right: 8px;
    margin-bottom: 19px;
    font-family: "Century Gothic";
}


.floating-box {
    float: left;
    width: 648px;
    height: 52px;
    margin: 0px 0px 20px 36px;
    font-family: "Century Gothic", 12px;
}

.floating-boxxx {
    float: left;
    width: 650px;
    height: 97px;
    margin: 0px 5px 20px 36px;
    font-family: "Century Gothic", 12px;
}

.FBlabel
{
    font-family: 'Century Gothic';
    margin-right:0px;
    text-align:left;
    margin-bottom:0px;
    float:left;
}

.FBtxtbox 
{
    margin-left: 9px; 
margin-top: 0px; 
margin-bottom: 0px;
    font-family: 'Century Gothic';
    float:right;
}

.cancelbtn 
{
    float:right;
    margin-right: 2px;
    margin-top: 0px;
    margin-left: 14px;
}

.content 
{
    background-color:#c2e9e9;
    height: 904px;
    width: 707px;
    display:inline-block;
    margin-right: 92px;
    margin-bottom: 33px;
     color: #2b3e50;
    margin-left: 77px;
}

.statusbar 
{    height: 32px;
     background-color:ButtonShadow;
}

 
  
  
